
.home-header {
  text-align: center;

  .blog-avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
  }

  .blog-description {
    font-size: 18px;
    color: #9A9A9A;
    line-height: 30px;
    font-family: $font-sans-serif;
  }
}
